 h1{
                color:salmon;
            }

            img{
                width: 400px;
            }

            #thirdDiv{
                height: 600px;
                width: 500px;
                background-color: lightsalmon;
                padding: 50px;
                border: 4px solid salmon;
            }

            #spanId{
                font-size: 18px;
                margin: 50px;
            }
